section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    .left_info {
        width: 50%;
    }

    .right_info {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: flex-start;
        margin: 1rem;
        width: 50%;

        img {
            max-width: 300px;
            height: auto;
            margin: 1rem;
        }
    }
}