$font: #7B1E2B;

.container {
    width: 100%;
    height: 100%;

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1.5rem;

        .content_logo {
            transition: transform 0.5s ease-in-out;

            &:hover {
                transform: scale(1.05);
            }

            img {
                height: 30rem;
                width: auto;
            }
        }

        .content_frase {

            p {
                color: white;
                font-size: 1.3rem;
                font-weight: 700;
                text-shadow:
                    2px 2px 0 $font,
                    2px 2px 0 $font,
                    2px 2px 0 $font,
                    2px 2px 0 $font;
                letter-spacing: 1px;
            }
        }

        .button_agendar {
            margin: 1rem;

            button {
                background-color: #7B1E2B;
                color: white;
                font-weight: bold;
                border: none;
                border-radius: .8rem;
                padding: 1rem;

                &:hover {
                    background-color: #4b141b;
                    cursor: pointer;
                }
            }
        }
    }
}